<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="t" method="POST">
    <input name="t" type="text" value="cao" />
    <input id="one" name="one" type="text" value="" />
    <input id="two" name="two" type="text" value="" />
    <input type="submit" value="POST"/>
  </form>
  <script type="text/javascript">
    console.log(document.data)
    console.log(window.data)
    console.log('gg')
  </script>
</body>
</html>