<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="t" method="POST">
    <input name="t" type="text" value="cao" />
    <input id="one" name="one" type="text" value="" />
    <input id="two" name="two" type="text" value="" />
    <input type="submit" value="POST"/>
  </form>
  <script type="text/javascript">
    let someData = data;
    let token = account_linking_token;
    document.querySelector('#one').value = data.toString()
    document.querySelector("#two").value = token.toString()
  </script>
</body>
</html>